// default styling

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    // outline: 2px solid red;
}

html {
    scroll-behavior: smooth;
}

// variables
$light-yellow: #ffe259;
$light-orange: #ffa751;
$light-pink: #f864ae;
$light-purple: #e950f7;
$heading1: 3em;
$heading2: 2.5em;
$heading3: 2em;
$black-shadow: 0 0 .5em .1em #000;
$yellow-shadow: 0 0 .5em .1em $light-yellow;
$pink-shadow: 0 0 .5em .1em $light-pink;
$orange-shadow: 0 0 .5em .1em $light-orange;
$trans: 250ms ease-in-out;

//global classList toggles
.opacity {
    opacity: 1;
}
.transform-scale {
    transform: scale(1, 1);
}
.transform-zero {
    transform: scale(0);
}
.highlight-menu {
    background-size: 100% .15em;
}

//styling message platform for Ably API
.agora-chatbox {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 5%;
    right: 2%;
    width: 20vw;
    height: 75vh;
    border-radius: 1em;
    box-shadow: $black-shadow;
    background-color: #eeeeee;
    transform: scale(0, 0);
    transform-origin: bottom right;
    transition: 1s ease-in-out;
    z-index: 998;

    .channel-form {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(45deg, $light-orange, $light-yellow);
        z-index: 1;

        label {
            font-size: $heading3;
            margin-bottom: .5em;
        }

        input {
            width: 60%;
            height: 5%;
            min-height: 35px;
            border-radius: 1em;
            padding: 0 1em;
            text-align: center;
            border: none;
            transition: $trans;

            &:hover {
                box-shadow: $orange-shadow;
            }

            &:focus {
                outline: none;
            }

            &:nth-child(2) {
                margin-bottom: 2em;
            }

            &:nth-child(4) {
                width: 30%;
            }
        }

        #join-channel {
            all: unset;
            margin-top: 40%;
            background-color: $light-purple;
            padding: .8em 1.9em;
            border-radius: 1em;
            box-shadow: $black-shadow;
            font-weight: 600;
            transition: $trans;
            cursor: pointer;

            &:hover {
                transform: scale(.98);
                box-shadow: 0 0 .3em .1em #000;
            }

            @media screen and (max-height: 500px) {
                margin-top: 15%;
            }
        }

        #join-channel.display-none {
            display: none;
        }
    }

    @media screen and (max-width: 900px) {
        width: 75vw;
        height: 85vh;
    }

    i {
        position: absolute;
        font-size: 2em;
        color: #000;
        background-color: #fff;
        border-radius: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: 750ms ease-in-out;
        cursor: pointer;
        z-index: 2;

        &:hover {
            opacity: 1;
        }
    }

    .chat-header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1em;
        background-image: linear-gradient(45deg, $light-yellow, $light-orange);
        border-radius: 1em 1em 0;
    }

    .messages::-webkit-scrollbar {
        background-color: $light-purple;
        width: 15px;
    }
    .messages::-webkit-scrollbar-track {
        background-color: #eeeeee;
    }
    .messages::-webkit-scrollbar-thumb {
        background-color: $light-purple;
        border-radius: 1em;
        border: 5px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
    }

    .messages {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        // max-height: 600px;
        // min-height: 0px;
        height: 100%;
        margin: 0 auto;
        z-index: -1;
        overflow-y: auto;

        .welcome-message {
            max-width: 60%;
            align-self: center;
            width: fit-content;
            height: fit-content;
            padding: .8em;
            margin: 0.8em;
            box-shadow: $black-shadow;
            background-color: $light-pink;
            border-radius: 1em;
            word-wrap: break-word;
        }

        .user-left {
            max-width: 60%;
            align-self: center;
            width: fit-content;
            height: fit-content;
            padding: .8em;
            margin: 0.8em;
            box-shadow: $black-shadow;
            background-color: $light-purple;
            border-radius: 1em;
            word-wrap: break-word;
        }

        .my-message {
            max-width: 60%;
            height: fit-content;
            padding: .8em;
            margin: 0.8em;
            box-shadow: $black-shadow;
            background-color: $light-yellow;
            border-radius: 1em 1em 0 1em;
            align-self: flex-start;
            word-wrap: break-word;
        }

        .user-message {
            text-align: right;
            max-width: 60%;
            width: fit-content;
            height: fit-content;
            align-self: flex-end;
            padding: .8em;
            margin: 0.8em;
            box-shadow: $black-shadow;
            background-color: $light-orange;
            border-radius: 1em 1em 1em 0;
            word-wrap: break-word;
        }
    }

    .input-message-container {
        width: 100%;
        min-height: 60px;
        border-radius: 0 1em 1em 1em;
        background-image: linear-gradient(90deg, $light-yellow, $light-orange);
        display: flex;
        justify-content: flex-start;
        align-items: center;


        input {
            margin: 0 0 0 1em;
            padding: 0 1em;
            width: 75%;
            height: 50%;
            border: none;
            border-radius: 1em;
        }

        i {
            color: #000;
            background-color: transparent;
            font-size: 1.5em;
            right: 1.5%;
            bottom: 1%;
            opacity: 1;
            z-index: 0;
        }
    }
}
//JS classlist for chatbox scaling
.agora-chatbox.scale {
    transform: scale(1);
}

.agora-btn {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: $light-orange;
    position: fixed;
    bottom: 2%;
    right: 1%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $trans;

    i {
        font-size: 1.5em;
        color: #000;
    }

    &:hover {
        box-shadow: $yellow-shadow;
        transform: scale(1.1);
    }

}

//styling navigation dots
.nav-dot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    width: 15px;
    height: 200px;
    position: fixed;
    left: 0;
    top: 50%;
    z-index: 999;
    transform: translateY(-50%);

    .nav-dot {
        height: 10px;
        width: 10px;
        background-color: #000;
        border-radius: 50%;
        margin: .5em;
        opacity: .5;
        transition: 1s ease-in-out;

        &:hover {
            transform: scale(1.2);
            background-color: $light-yellow;
            opacity: 1;
            transition: 250ms ease-in-out;
            cursor: pointer;
        }
    }
    //navdot JS classlist for section indication and navigation
    .navdot-indicator {
        opacity: 1;
        transform: scale(1.3);
    }

    @media screen and (max-width: 900px) {
        display: none;
    }

}

//styling the header nav and list items
header {

    position: relative;

    .skip-nav-link {
        position: absolute;
        margin: 1em;
        padding: .5em;
        border: 1px solid black;
        border-radius: .5em;
        font-size: 1.3em;
        color: black;
        background-image: linear-gradient(to right, #ffe259, #ffa751);
        transform: translateY(-5em);
        transition: 250ms ease-out;
    }

    .skip-nav-link:focus {
        transform: translateY(5em) rotateZ(-25deg);
        z-index: 999;
    }

    nav {
        top: 3px;
        position: fixed;
        width: 100vw;
        box-shadow: 0 .1em .5em 0 black;
        backdrop-filter: blur(50px);
        background-color: transparent;
        z-index: 998;


        ul {
            display: flex;


            li:nth-child(3) {
                font-size: 2em;
                padding: 0;
                    }

            li {
                margin: auto;
                padding: 2em 0;

                a {
                    font-size: 1.5em;
                    color: black;
                    background-image: linear-gradient(to right, #ffe259, #ffa751);
                    background-size: 0% .15em;
                    background-repeat: no-repeat;
                    background-position: left bottom;
                    transition: background-size 750ms ease;
                    border-radius: 10px;
                }

                a:hover, :focus {
                    background-size: 100% .15em;
                }
            }
        }
    }

    .progress-bar {
        content: '';
        width: 100%;
        height: 3px;
        background-color: #ffa751;
        position: fixed;
        z-index: 999;
    }

    @media screen and (max-height: 500px) {
        nav {
            
            ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }



    @media screen and (max-width: 900px) {

        nav {
            position: fixed;
            top: 0;
            transform: scale(0, 1);
            transition: 250ms ease-in-out;
            transform-origin: left;
            background-color: #fff;
            width: 100%;
            height: 100vh;

            ul {
                margin: 15vh 0;
                flex-direction: column;

                li {
                    opacity: 0;
                    transition: 1s ease-in-out;
                    padding: 3em;
                }

                li:nth-child(3) {
                    display: none;
                }
            }
        }

        .nav-toggle-body {
            display: flex;
            align-items: center;
            position: fixed;
            top: 0;
            margin-top: 3px;
            margin-left: .5em;
            content: '';
            height: 40px;
            width: 40px;
            z-index: 999;
            cursor: pointer;

            span {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-image: linear-gradient(to right, $light-yellow, $light-orange);
                transition: 250ms ease-in-out;
                transform-origin: left;

                &:nth-child(1) {
                    margin-top: 13px;
                }
                &:nth-child(3) {
                    margin-top: -15px;
                }
                //toggled spans
                &:nth-child(1).span-toggled {
                    width: 90%;
                    transform: rotateZ(-45deg) translateY(.5em);
                    margin-top: 13px;
                }
                &:nth-child(2).span-toggled {
                    opacity: 0;
                }
                &:nth-child(3).span-toggled {
                    width: 90%;
                    transform: rotateZ(45deg) translateY(-.5em);
                    margin-top: -15px;
                }
            }

        }

        .skip-nav-link {
            display: none;
        }

        .progress-bar {
            position: fixed;
            top: 0;
        }
    }
}

//Main content
main {

    h1 {
        margin: 30vh 0 0 0;
        display: none;
    }

    .intro-container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 95vw;

        .introduction {
            max-width: 95vw;

            h2 {
                margin: 0 0 .2em 0;
                font-size: $heading2;
                transform: translateX(-6em);
                opacity: 0;
                transition: 1.5s ease-in-out;
            }
    
            p {
                padding-right: 20em;
                transform: translateX(-6em);
                opacity: 0;
                transition: 1s ease-in-out;
            }
        }

        img {
            width: 400px;
            height: 400px;
            box-shadow: $black-shadow;
            border-radius: 50%;
        }

        .intro-circle {
            position: absolute;
            z-index: -1;
            transform: scale(0);

            &:nth-child(4) {
                width: 600px;
                height: 600px;
                border-radius: 50%;
                background-color: $light-yellow;
                top: 0;
                right: 0;
                transition: 2s ease-in-out;
            }
            &:nth-child(3) {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                background-color: $light-orange;
                bottom: 15%;
                transition: 3s ease-in-out;
            }
        }
    }

    @media screen and (max-width: 900px) {
        h1 {
            width: 85%;
            position: absolute;
            display: block;
            left: 50%;
            font-size: $heading1;
            transform: translateX(-50%);
        }

        .intro-container {


            .introduction {
                position: absolute;
                top: 80%;
                width: 100%;
                

                h2 {
                    padding-left: .75em;
                }

                p {
                    padding: 1em 2em 0 2em;
                }
            }

            img {
                width: 200px;
                height: 200px;
                position: absolute;
                top: 50%;
            }

            .intro-circle {
                

                &:nth-child(4) {
                    width: 300px;
                    height: 300px;
                    top: 5%;
                }
                &:nth-child(3) {
                    width: 100px;
                    height: 100px;
                    top: 0;
                }
            }
        }
    }
}

//.sec is targeting ALL sections
.sec {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

//going into resume section
.sec-2 {
    position: relative;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        position: absolute;
        font-size: 5em;
        z-index: 1;
        top: 5%;
    }

    .background-box {
        position: absolute;
        left: 0;
        content: '';
        height: 75vh;
        width: 45vw;
        background-color: $light-orange;
        z-index: 0;
    }

    .caret {
        padding: 2em;
        font-size: 1.5em;
        z-index: 990;
        cursor: pointer;
    }

    .resume-container {
        display: flex;
        position: relative;
        width: 60%;
        height: 50%;
        z-index: 1;
        border-radius: 3em 0 3em 0;
        background-image: linear-gradient(45deg, $light-pink, #eee 76%);

        .skill-holder {
            position: relative;
            width: 50%;
            height: 100%;
            padding-left: 0.5em;
            overflow: hidden;
            // outline: 1px solid red;

            .skill-parent {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                transform: translateX(-10%);
                transition: $trans;

                i {
                    font-size: 20em;
                    padding: 0 .5em;
                    width: 100%;
                    transform: translateX(-50px);
                    opacity: 0;
                    transition: 1s 250ms ease-in-out;
                }

                #last-copy {
                    transform: translateX(-500px);
                }
                #first-copy {
                    transform: translateX(500px);
                }

                .skill-detail-mobile {
                    display: none;
                }
            }
        }

        .skill-detail-holder {
            position: relative;
            display: flex;
            align-items: center;
            right: 0;
            width: 50%;
            height: 100%;

            p {
                width: 80%;
                font-size: 2em;
                transform: translateY(-50%) translateX(10em);
                position: absolute;
                opacity: 0;
                transition: 1s ease-in-out;
                pointer-events: none;
            }
        }
    }

    //we are considering this
    // .sec-2-footer {

    // }

    @media screen and (max-width: 900px) {
        h2 {
            font-size: 3em;
        }

        .caret {
            display: none;
        }

        .resume-container {
            width: 80%;
            margin-right: 10em;

            .skill-holder {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .skill-parent {
                    
                    i {
                        font-size: 10em;
                        transform: translateX(-1%);

                        &:nth-child(4) {
                            transform: translateX(-5%);
                        }

                        &:nth-child(5) {
                            transform: translateX(-10%);
                        }

                        &:nth-child(6) {
                            transform: translateX(-10%);
                        }
                        &:nth-child(7) {
                            transform: translateX(-10%);
                        }
                    }

                }
            }

            .skill-detail-holder {
                position: absolute;
                right: -55%;
                bottom: -35%;
                width: 75%;

                p {
                    font-size: 1em;
                    font-weight: 600;
                }
            }
        }
    }
}

.sec-4 {
    background-color: #eeeeee;
}

.to-top-btn {
    position: fixed;
    bottom: 0;
    font-size: 1.5em;
    padding: 1em;
    opacity: 0;
    cursor: pointer;
    z-index: 999;
}